{% extends "base.html" %} {% block content %}


<div class="w-full">
  
  <div class="mx-auto w-full inline-flex items-center flex-col">
    <h3 class="text-2xl font-bold text-lime-700 mb-4">
      Restaurants based on your location
    </h3>
    {% if my_places %}
    <ul class="">
      {% for place in my_places %}
      <li class="">
       <p class="text-lg font-semibold text-gray-900 flex items-center py-2">{{ place.restaurant.name }}</p> 
        <p class="text-sm font-medium text-gray-900 flex items-center py-2">{{ place.restaurant.address }}</p>
        <section>{{place.restaurant.photos}}</section>
        <div
          class="svg-elements flex space-x-2 items-center justify-center ml-8"
        >
        </div>
      </li>

      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>





{% endblock %}
